.review-add {
    position: fixed;
    z-index: 10;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d7a;
    padding-top: 50px;

    .review-modal {
        position: relative;
        padding: 15px;
        margin: 5% auto 15% auto;
        width: 30%;
        text-align: center;
        min-width: 400px;

        h1 {
            background-color: #bb8082;
            color: white;
            padding: 10px;
            font-size: 1.5rem;
            text-align: center;
            width: 100%;
        }

        textarea {
            display: block;
            margin: 20px auto;
            resize: none;
        }
    }

    .review-form {
        display: flex;
        background-color: white;
        flex-direction: column;
        place-items: center;
        gap: 8px;

        .btn-toggle-modal {
            position: absolute;
            right: 0;
            top: 0;
            padding: 5px 7px;
            margin: 0;
            border-radius: 50%;
        }

        section {
            display: flex;
            gap: 5px;
        }
    }

    button {
        margin: 0 0 1rem 0;
    }

}

.review-container {
    position: relative;
    width: 90%;

    p {
        max-width: 90%;
        word-wrap: break-word;
    }
}

.review-details {
    border: 2px solid #a1a1a1;
    background-color: var(--gray1);
    border-radius: 10px;
    margin-block-start: 10px;
    padding: 10px;
    line-height: 1.5;
    font-size: 1rem;
    display: flex;
    flex-direction: column;

    .reviewer-name{
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-size: 1.5rem;
    }

    .btn-remove-review {
        cursor: pointer;
        font-size: 1rem;
        border: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        place-self: end;

        &:hover {
            transform: scale(1.2);
            background-color: transparent;
        }

        .fa-trash-can {
            color: var(--home-text-color);
            cursor: pointer;
        }
    } 
}