.book-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 0;
    margin-top: 15px;

    li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 5px;
        background-color: var(--clr2bg);
        border-radius: 8px;

        li.loading {
            opacity: 0.7;
        }
    }

    .list-btns {
        display: flex;
        gap: 15px;

        button {
            border: none;
            border-radius: 5px;
            padding: 8px;
            background-color: var(--clr1bg);

            &:hover {
                color: var(--clr2bg-light);
            }
        }
    }

    
}