.book-filter {
    background-color: var(--home-bg-gradient-start);
    padding-block: 1em;

    h2 {
        margin-top: 0;
    }

    form {
        display: flex;
        gap: .5em;
        justify-content: center;

        input {
            justify-self: end;
        }
    }

    label {
        justify-self: start;
    }
}