.book-edit {
    text-align: center;

    &.loading {
        opacity: 0.6;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        font-family: 'Edu VIC WA NT Beginner', cursive;
        width: fit-content;
        margin: auto;
        margin-top: 50px;

        input {
            min-width: 300px;
            margin-bottom: 15px;
            &:focus {
                background-color: var(--clr1bg);
                transition: background-color 1s;
            }
        }
    }

    button {
        cursor: pointer;
        background-color: var(--clr2bg);
        margin: 0.5em;
        border: 1px solid var(--clr2);
        padding: 0.5em 0.8em;
        border-radius: 4px;
    }

    button:hover {
        background-color: var(--clr2);
        color: white;
        transition: 0.3s;
    }
}