.book-details {
  max-width: 800px;
  margin: auto;
  background-color: var(--gray1);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Arial, sans-serif;

  background: linear-gradient(135deg,  var(--clr1bg-light), var(--clr1bg));

  h1 {
    margin-top: 0;
    color: var(--clr1);
    font-size: 2rem;
  }

  h2 {
    margin-top: 0.5rem;
    color: var(--clr2);
    font-size: 1.3rem;
    font-weight: 400;
  }

  img {
    width: 100%;
    max-width: 280px;
    display: block;
    margin: 1.5rem auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

  p {
    color: var(--gray3);
    line-height: 1.6;
    margin: 0.6rem 0;
    font-size: 1rem;
  }

  button {
    margin-top: 1.8rem;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    border: 2px solid var(--home-secondary-btn-border);
    cursor: pointer;
    font-size: 1rem;

    background-color: var(--home-secondary-btn-bg);
    color: var(--home-secondary-btn-text);

    transition: 0.2s ease;
  }

  button:hover {
    background-color: var(--home-secondary-btn-hover-bg);
    color: var(--home-secondary-btn-hover-text);
  }
}