.user-msg {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #f1f1f1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    animation: slideIn 0.3s ease-in-out;

    p {
        margin: 0;
    }

    h4 {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    button {
        background-color: hsl(0 0% 100%/0.35);
        border: none;
        cursor: pointer;
        font-size: 1.1rem;
        width: fit-content;
        aspect-ratio: 1;
        color: inherit;
        border-radius: 50%;

        position: fixed;
        top: 0.5rem;
        right: 0.5rem;

        &:hover {
            background-color: hsl(0 0% 100%/0.55);
        }
    }
}

.user-msg.success {
    background-color: #d4edda;
    color: #155724;
}

.user-msg.error {
    background-color: #f8d7da;
    color: #721c24;

}