* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--gray3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0 .5em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}

.about nav a {
    margin-right: 10px;
}

button{
  cursor: pointer;
}

.no-books{
  padding-top: 100px;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}

.add-btn-section{
    button {
        cursor: pointer;
        background-color: var(--clr2bg);
        margin-top: 0.5em;
        border: 1px solid var(--clr2);
        padding: 0.5em 0.8em;
        border-radius: 4px;
    }

    button:hover {
        background-color: var(--clr2);
        color: white;
        transition: 0.3s;
    }

    input:focus {
        background-color: var(--clr1bg);
        transition: background-color 1s;
    }
}
